#registro-container{
    width: 55%;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom:35px;
    background-color: #FAF8F4;
    position: relative;
}

#ingreso-container{
    width: 55%;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 180px;
    margin-bottom: 180px;
    background-color: #FAF8F4;
    position: relative;
}

#contenedor, #contenedorcarrusel, #contenedorpostales{
    width: auto;
    max-width: 100%;
    height: auto;
    border: 2px;
    border-radius: 30px 30px 30px 30px;
    margin: 0 auto;
    padding: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom:35px;
    background-color: #FAF8F4;
    overflow-x: auto;
    position: relative;
}

#grabar{
    width: 95%;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: #161616;
    color: #B6CAEB;
    margin: 0 auto;
}

#enviar{
    width: 92%;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: #161616;
    color: #B6CAEB;
    margin: 0 auto;
}

#comprar{
    width: 100%;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: #161616;
    color: #B6CAEB;
    margin: 0 auto;    
}

#detalles{
    width: 100%;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
    background-color: #161616;
    color: #B6CAEB;
    margin: 0 auto;
    justify-content: center;
}

#titulo-cantidad{
    width: 32%;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
    background-color: #161616;
    color: #B6CAEB;
    margin: 0 auto;
    margin-top: 30px;
}

#cantidad-compra{
    width: 32%;
    margin-top: 30px;
}

label{
    color: #161616;
    font-weight: 500;
}

#inputTipoCuenta{
    background-color: #161616;
    color: #B6CAEB;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
}

#colonias{
    background-color: #161616;
    color: #B6CAEB;
    border: 1px;
    border-radius: 15px 15px 15px 15px;
}

.form-control{
    border: 2px;
    border-radius: 15px 15px 15px 15px;
}

input.form-control{
    border: 1px solid;
    border-radius: 15px 15px 15px 15px;
    border-color: #161616;
    color: #161616;
    background-color: #FAF8F4;
}

input.form-control:focus{
    border-color: #B6CAEB;
    background-color: #FAF8F4;
}

.titulo{
    text-align: center;
    color: #B6CAEB;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 42px;
    margin-top: 30px;
}

td{
    color: #161616;
}

th{
    font-family: 'DM Sans', sans-serif;
    font-style: oblique;
    color: #161616;
}

.columna-larga{
    width: 5% !important;
}

#tarjeta{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 840px;
    background-color: #FAF8F4;
}

.detalles-titulo{
    color: #161616;
    font-style: oblique;
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    padding-top: 140px;
}

.precio{
    color: #161616;
    font-size: 30px;
}

.imagen-producto{
    height: 100%;
}

.mensaje-error{
    font-size: 48px;
    text-align: center;
    font-family: 'DM Serif', sans-serif;
}

#precio-catalogo{
    font-size: 24px;
}

.titulo-catalogo{
    font-family: 'DM Sans' sans-serif;
    font-size: 28px;
}

.tarjeta-catalogo{
    background-color: #FAF8F4;
}

.page-link.disabled .page-link{
    color: #B6CAEB;
    background-color: #161616;
    border-color: #161616;
}

.page-link {
    color: #161616;
    text-decoration: none;
}

#encabezado-catalogo{
    font-family: 'DM Sans', sans-serif;
    color: #161616;
    margin-top: 30px;
    font-weight: 600;
}

#info-catalogo{
    margin-bottom: 20px;
}

.form-check{
    margin-bottom: 10px;
    margin-left: 15px;
}

#flexRadioDefault2:checked{
    background-color: #161616;
}

#flexRadioDefault2{
    color: #B6CAEB;
    border: 1px solid;
    border-color: #161616;
    border-radius: 50%;
    outline: none;
}

#flexRadioDefault1:checked{
    background-color: #161616;
}

#flexRadioDefault1{
    color: #B6CAEB;
    border: 1px solid;
    border-color: #161616;
    border-radius: 50%;
    outline: none;
}