#carusel{
    margin: 0 auto;
}

.titulo-producto-carrusel{
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #B6CAEB;
    margin-top: 20px;
}

.descripcion-producto-carrusel{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #161616;
}